<!--
  Generated template for the ForgertPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>שחזור סיסמה</ion-title>
    <ion-buttons right>
      <button icon-only ion-button (click)="checkPhoneNumber()">
        Next
          <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url('images/background-login.jpg')">
  <span *ngIf="!Valid">
  <h2 text-center >נא להכניס מספרך הנייד שרשום במערכת</h2>
<ion-input autofocus type="number" pattern="^05[0-9]{8}$" required  placeholder="מספר נייד"  [(ngModel)]="phone_number" text-center>
</ion-input>
</span>
<span *ngIf="Valid">
  <h2 text-center>{{Name}}</h2>
  <h4 text-center>שלחנו לך הודעה עם המספר, נא להכניס אותו כאן</h4>
<ion-input autofocus type="number" required pattern="^[0-9]{2}$" placeholder="מספר התקוף" [(ngModel)]="Code" text-center>
  </ion-input>
  <p text-center large>המספר תקוף עוד {{Minutes}}:{{Seconds}}</p>
</span>
<img src="images/forget-password.png">
</ion-content>
<ion-footer>
    <ion-toolbar>
  <h4 text-center  >
  @Designed by murrad with ibrahim.    
  </h4>
  </ion-toolbar>
</ion-footer>