popover-page {
 
    .row-dots {
      text-align: center;
  
      .dot {
        height: 30px;
        width: 30px;
        position: relative;
        border-radius: 50%;
      }
    }
  
    .dot-white {
      background-color: rgb(255,255,255);
    }
  
    .dot-blue {
      background-color: rgb(0, 83, 109);
    }
  
    .dot-grey {
      background-color: rgb(76,75,80);
    }
  
    .dot-red {
      background-color:  rgb(143, 57, 57);
    }
  
   .selected {
    border: 3px solid #327eff;
    }
    img{
      border-radius: 50%;
      margin-left: 20%;
      border: 3px solid #11161f;
    }
    .pp{
      font-size: 17px;
      margin-left: 1%;
    }


  }
  

  