
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="images/icon.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>

  <ion-navbar color="dark">
    <ion-title text-center>שבוס - התחברות</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
  <img src="images/icon.png">

  <form (ngSubmit)='onSignin(f)' #f=ngForm>
    <ion-list>
      <ion-item>
          <ion-input name="email" type="text" placeholder="אימייל"  pattern="^[a-zA-Z]+@([a-zA-Z]+\.)+[a-zA-Z]+$" text-center margin-top ngModel required ></ion-input>
      </ion-item>
      <ion-item>
          <ion-input name="password" type="password" placeholder="סיסמא" text-center margin-top ngModel required></ion-input>          
      </ion-item>
      <br>
    </ion-list>
    <button ion-button block  type="submit" color="primary" margin-top [disabled]="!f.valid">התחבר</button>
  </form>

</ion-content>

<!-- 
 <img src="images/icon.png">
      <ion-input type="text" placeholder="שם פרטי ושם משפחה" text-center margin-top [(ngModel)]="username"></ion-input>
      <ion-input type="password" placeholder="סיסמא" text-center margin-top [(ngModel)]="password"></ion-input>
 
   
<form (ngSubmit)="onsubmit(f)" #f=ngForm>
  <ion-list>
      <ion-item>
          <ion-label for="title" floating>Title</ion-label>
          <ion-input name="title" type="text" [ngModel]="Recipe.title" required></ion-input>
      </ion-item>
      <ion-item>
              <ion-label for="description" floating>Description</ion-label>
              <ion-input name="description" type="text" [ngModel]="Recipe.description" required></ion-input>
      </ion-item>
      <ion-item>
              <ion-label for="difficulty" floating>Difficulty</ion-label>
              <ion-select name="difficulty" [ngModel]="Recipe.difficulty" required>
                <ion-option [value]="item" *ngFor="let item of Difficulty">{{item}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
          <button large ion-button type="button" clear margin-top block class="crazy" (click)="manageingrediants()" >Manage Ingrediants</button>
      </ion-item>
  

      <ion-grid ngModelGroup="ingrediants">
              <ion-row *ngFor="let item of ingrediants;let i=index" [ngModelGroup]="'ingrediant'+i">
                <ion-col>
                      <ion-label>Name</ion-label>
                      <ion-input  name="name"  type="text"
                      [(ngModel)]="item.name" required></ion-input>           
                </ion-col>
                <ion-col>
                      <ion-label>Amount</ion-label>
                      <ion-input  name="amount"   type="number"
                      [(ngModel)]="item.amount" required pattern="[1-9][0-9]*"></ion-input> 
                </ion-col>
              </ion-row>
      </ion-grid>

  
     
  </ion-list>

  <button ion-button block type="submit" margin-top [disabled]="!f.valid" >{{mode}} Recipe</button>
  
</form> -->