page-my-driver-login {

.logOut{
    font-size: 25px;
}
// #grad {
//     background: linear-gradient(to right, primary,rgba(255, 255, 255, 0),primary); /* Standard syntax (must be last) */
// }
.myColor {
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
  }
 

}

