page-my-coupons {

}

.business1, .business2, .business3, .business4, .business5{
    width:100px;
    height: 100px;
    border-radius: 5px;
    
}

.coupons{
    background-color: lightgrey;
}

.inp{
    background-color: white;
}