page-my-client {

    #clientCounterDiv{
        font-size: 100px;
        padding-left: 16px; 
        padding-right: 16px;
        float: left;
    }
    
    
    .add , .remove{
        font-size: 70px;
        color: seagreen;
        float: left;
    }
    .add{
        margin-left: 7%;
    }
}

